<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Create Client</h1>
	<a th:href="@{/clients}">Volver</a>
	
	<form th:acction="@{clients/create}" th:object="${client}" method="post">
		<label>Name: </label>
        <input type="text" name="firstName" th:field="*{name}"/>
        <br>
        <label>Surname: </label>
        <input type="text" name="lastName" th:field="*{surname}"/>
        <br>
        <label>Adress: </label>
        <input type="text" name="dni" th:field="*{adress}"/>
        <br>
        <button type="submit">
            Create Client
        </button>
        <br>
	</form>
</body>
</html>