<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div class ="container">
    <form th:acction="@{/crear}" th:object="${cliente}" method="post">

        <label>DNI: </label>
        <input type="text" name="dni" th:field="*{dni}"/>
        <br>
        <label>Nombre: </label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <br>
        <label>Apellido: </label>
        <input type="text" name="apellido" th:field="*{apellido}"/>
        <br>
        <label>Direccion: </label>
        <input type="text" name="direccion" th:field="*{direccion}"/>
        <br>
        <button type="submit">
            Crear Cliente
        </button>
        <br>
    </form>
    <a th:href="@{/clientes}">Listar</a>
</div>

</body>
</html>